@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

.bottom-navbar {
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1); /* This adds a shadow at the top */
}
.weather-div {
  background: radial-gradient(#fdeccf, #ffffff);
}

.carousel {
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease;
  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the background image */

}

.slide.active {
  opacity: 1;
}
